@model  List<PetGrooming.Models.Species>

@{
    ViewBag.Title = "Add";
}


<h2>Add a New Pet </h2>

<form method="post" action="/Pet/Add">
    <fieldset>
        <legend>Please Enter Your Pet Information</legend>


        <div>
            <label for="PetName">Name:</label>
            <input type="text" name="PetName" id="PetName" />
        </div>

        <div>
            <label for="PetWeight">Weight:</label>
            <input type="text" name="PetWeight" id="PetWeight" />
        </div>

        <div>
            <label for="PetColor">Color:</label>
            <input type="text" name="PetColor" id="PetColor" />
        </div>
        <div>
            <label for="SpeciesID">Species:</label>
            <select type="text" name="SpeciesID" id="SpeciesID">
                @{
                    foreach (var species in @Model)
                    {
                        <option value="@species.SpeciesID">@species.Name</option>

                    }
                }
            </select>
        </div>
        <div>
            <label for="PetNotes">Notes:</label>
            <textarea name="PetNotes" id="PetNotes">

        </textarea>
        </div>

    </fieldset>
    <input type="submit" value="Add Pet" />
</form>

<div>
    <a href="/Pet/List">Back to List</a>
</div>