
@{
    ViewBag.Title = "Add";
}

<h2>Add A New Species</h2>

<form method="post" action="/Species/Add">
   
    
    
    <input type="text" name="SpeciesName" id="SpeciesName" />
    <input type="submit" id="Add species" />
 


</form>