@model List<PetGrooming.Models.Species>


@{
    ViewBag.Title = "List";
}

<h2>Curret List of Species We Groom</h2>
<div id="searchBar">
    <input type="text" id="Search" />
    <input type="submit" value="Search" id="SpeciesSearch" />
</div>
<div>
    <table>
        <thead>
            <tr>
                <th>Species</th>
             </tr>
        </thead>
            <tbody>
                @{
                    foreach (var species in @Model)
                    {

                        <tr id="listSpecies">
                            <td>  <a href="/Species/Show/@species.SpeciesID">@species.Name</a></td>
                            <td>
                                <a href='@Url.Action("Update", "Species", new { id = species.SpeciesID})' class="btn btn-xs">Update</a>

                            </td>

                        </tr>
                    }
                }



            </tbody>
    </table>


    
</div>
<a href='@Url.Action("Add", "Species")' class="btn btn-success">Add New Species</a>